body{
    background-color: #f8f9fa;
}

a{
    color: orange;
}
.layout{
    margin: 0;
    padding: 2% 5%!important;
}
.nav-link{
    font-size: 1.2rem!important;
    font-weight: 700!important;
}
.navbar-brand{
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
}

.navbar-brand :hover{
    color: #e29404;
    text-decoration: none;
}
nav{
    padding: 1% 5%!important;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1% 0%;
}

.listItem {
    padding: 1.5% 2%;
    margin: 1% 0%;
    width: 50%;
    border-radius: 5px;
    align-items: flex-start;
    background: white;
    box-shadow: 8px 8px 15px 3px #e6e6e6;
    justify-content: space-between;
    display: flex;
}

.listItem > a{
    color: orange!important;
    font-weight: 500;
    cursor: pointer;
}

.content-title{
    color: #656565;
    font-weight: 900;
    font-size: 2em;
    margin: 1% 0%;
}

.content-info-title{
    color: #656565;
    font-weight: 300;
    font-size: 1.5em;
    margin: 1% 0%;
}

#basic-navbar-nav{
    justify-content: flex-end!important;
}